<!DOCTYPE html>
<html>
<head>
	<title>Shawn's App</title>
</head>
<body>
	<p>This page was rendered on the server at: <%= new Date() %></p>

	<button id="myButton">Do Ajax!</button>

	<script type="text/javascript" src="script.js"></script>
</body>
</html>